.manage-layout__container {
    display: flex;

    .manage-layout__left {
        width: 200px;

        .manage-layout__left__menu {
            display: flex;
            flex-direction: column;
        }
    }
    .manage-layout__right {
        flex: 1
    }
}